* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: none;
  padding: none;
  list-style: none;
}
body {
  background-color: rgb(165, 163, 163);
  background-image: url("justnew.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
.container {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
}
.container img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.container ul li {
  background-color: black;
  padding: 10px;
  margin: 30px 10px;
  border-radius: 20px;
}
.container a {
  color: rgb(11, 14, 207);
}
.container a:hover {
  font-size: 17px;
  color: rgb(153, 149, 149);
}
.container ul li i {
  color: blue;
  font-size: 18px;
  padding-right: 20px;
}
